<% include partials/indexHeader %>
<div class="container">
  <img alt="The we will code logo.  If you have wondered what is we will code, this section explains it.  This logo image says we will code." style="display: block;margin-left: auto;margin-right: auto;width: 30%;" src="/images/weWillCodeLogo.png">
  <h1 style="text-align:center;">About</h1>
<h2 style="text-align:center;">What Is "We Will Code" All About?</h2>
<p style="text-align:center;">Located in the Central Valley of California.  We will code is all about expressing a "we-will-code" mentality.  If you
   are not sure what that entails let me explain.</p>

<h2 style='text-align:center;color:lime;'>Who Am I? <a href="http://josefmoreno.me">(Jose Moreno)</a></h2>
<p style="text-align:center;">My name is Jose Moreno. I started this site to help others who are in the process of learning how to code.  I am still
   going through that process and as I do online courses, I put up videos explaining my logic.  The first courses I
   did were not the best but my most recent ones are getting better and I enjoy all the comments I get from <a =href="https:youtube.com/">my
   Youtube</a> subscribers of how my videos help them understand what they are learning.
 </p>
 <p style="text-align:center;">  If you are new to coding
   I have a special course that will get you started from the beginning.  You will begin by learning the fundamentals of website code Html, CSS, and Javascript.  Once you learn
   enough Javascript, learning other languages will become a bit easier if you understand the concepts.  Notice how I did
   not say memorize Javascript.  Programming is abstract and conceptual and memorizing stuff doesnt help as much as understanding stuff.
 </p>
</div>

<% include partials/indexFooter %>
