<% include partials/indexHeader %>
<div class="container">
  <img alt="The we will code logo.  If you have wondered what is we will code, this section explains it.  This logo image says we will code." style="display: block;margin-left: auto;margin-right: auto;width: 40%;" src="/images/weWillCodeLogo.png">
  <h1 style="text-align:center;">About</h1>
<h2 style="text-align:center;">What Is "We Will Code" All About?</h2>
<p style="text-align:center;">Located in the Central Valley of California.  We will code is all about expressing a "we-will-code" mentality.  If you
   are not sure what that entails let me explain.</p>

<h2 style='text-align:center;color:lime;'>Who Am I? <a href="http://josefmoreno.me">(Jose Moreno)</a></h2>
<p style="text-align:center;">My name is Jose Moreno. I started this site to help others who are in the process of learning how to code.  I am still
   going through that process and as I do online courses, I put up videos explaining my logic.  The first courses I
   did were not the best but my most recent ones are getting better and I enjoy all the comments I get from <a href="https://youtube.com/wewillcode">my
   Youtube</a> subscribers of how my videos help them understand what they are learning.
 </p>
 <p style="text-align:center;">  If you are new to coding
   I have a special course that will get you started from the beginning.  You will begin by learning the fundamentals of website code Html, CSS, and Javascript.  Once you learn
   enough Javascript, learning other languages will become a bit easier if you understand the concepts.  Notice how I did
   not say memorize Javascript.  Programming is abstract and conceptual and memorizing stuff doesnt help as much as understanding stuff.
 </p>
</div>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div style="width:75%;margin:0 auto;" id="mc_embed_signup">
<form style="color:black;" action="https://believerationally.us19.list-manage.com/subscribe/post?u=59b06d7e77193c766917414ec&amp;id=7f7ed3d5d4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
<h2>Subscribe To Monthly Newsletter. Chance to Win Monthly Prizes</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-FNAME">First Name </label>
<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
<label for="mce-LNAME">Last Name </label>
<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div id="mce-responses" class="clear">
  <div class="response" id="mce-error-response" style="display:none"></div>
  <div class="response" id="mce-success-response" style="display:none"></div>
</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_59b06d7e77193c766917414ec_7f7ed3d5d4" tabindex="-1" value=""></div>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<% include partials/indexFooter %>
