<% include partials/header %>
<% include partials/header %>

<div class="container">
  <h1>Courses</h1>
  <div class='playlistDiv'%>
        <% playlists.forEach(function(playlist){  %>
          <% if(playlist.title !='Study Beats, Programming Instrumentals') { %>
              <h2> <a href='/courses/<%=playlist.title.replace(/[, ]/g,'')%>'> <%= playlist.title %> </h2>
              <img src= '<%= playlist.thumbnail %>' width='30%' height='30%' class='img-responsive center' > </a>
              <p class='descriptionText'> <%= playlist.description %> </p>
            <% } %>
        <% }); %>
      </div>
    </div>
<% include partials/footer %>
