<% include partials/header %>

<section class="intro">
  <div class="content">
    <h1>Learn To Code, Learn To Achieve.</h1>
    <p>Enter And Begin The Journey Of A Lifetime.</p>
    <a href ='/sections' class="btn btn-primary" role='button'>Start Learning</a>
    <a href ='/donate' class="btn btn-primary" role='button'>Donate</a>
    <h6><a class='anchorHot' href="/about"> --Whats This All About Anyways....</a></h6>
 </div>
</section>

<section class="body">
  <div class="content">
    <h1>Learn To Code, Learn To Achieve.</h1>
    <p>Enter And Begin The Journey Of A Lifetime.</p>
    <a href ='/code' class="btn btn-primary" role='button'>Start Learning</a>
    <a href ='/donate' class="btn btn-primary" role='button'>Donate</a>
    <h6><a class='anchorHot' href="/about"> --Whats This All About Anyways....</a></h6>
 </div>
</section>





<% include partials/footer %>
