<% include partials/indexHeader %>

<section class="intro">
  <div class="content">
    <h1>Learn To Code, Learn To Achieve.</h1>
    <p>Enter And Begin The Journey Of A Lifetime.</p>
    <a href ='/courses' class="btn btn-primary btn-large" role='button'>Free Courses</a>
    <a href ='/shop' class="btn btn-primary btn-large" role='button'>Shop</a>
    <h6><a class='anchorHot' href="#about"> --Whats This All About Anyways....</a></h6>
 </div>
</section>

<section class="about" id='about'>
  <div class="about-content">
    <div class="jumbotron">
      <h1><i class="fa fa-book"></i> Learn </h1>
      <p>
        Hello World!(:  Here at weWillCode we believe everyone should learn to code.  We believe coding should
        be free.  We provide free courses to get you started.  Message us if you get stuck.  If you are looking to get
        started in web design but dont know exactly where to start, give this list a try from the beginning.  Hope it helps.
      </p>
    </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/2_rvr8EdhCg/maxresdefault.jpg">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1444090542259-0af8fa96557e?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1434543177303-ef2cc7707e0d?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
          </div>
        </div>
    </div>

 </div>
</section>





<% include partials/indexFooter %>
