<% include partials/indexHeader %>

<section class="intro">
  <div class="content">
    <h1>We Will Code</h1>
    <h2>Learn To Code, Learn To Achieve.</h2>
    <p>Welcome to We Will Code, you have now begun a new chapter in your journey.</p>
    <a href ='/courses' class="btn btn-primary btn-large" role='button'>Free Courses</a>
    <a href ='/about' class="btn btn-primary btn-large" role='button'>About</a>
    <h6><a class='anchorHot' href="#about"> --Whats This All About Anyways....</a></h6>
 </div>
</section>

<section class="about" id='about'>
  <div class="about-content">
    <div class="jumbotron">
      <h1><i class="fa fa-book"></i> Learn </h1>
      <p>
        Hello World!(:  Here at We Will Code we believe everyone should learn to code.  We believe coding should
        be free.  We provide <a href='/courses'>free courses</a> to get you started.  Some of these courses are based on
        online coding schools like freeCodeCamp, and Codecademy and are meant to supplement those lessons with further explanation
        and reasoning behind the code. Message us if you get stuck.  If you are looking to get started in web design but dont know
        exactly where to start, give this list a try from the beginning, it covers HTML,CSS, and Javascript.  After you learn the basics
        of those 3, you can look through the other courses such as the <a href='/courses/LearnSQLCodecademy'> SQL course</a> if you are
        seaking to learn more about databases, or an <a href="/courses/HowToUseAPIswithJavaScript">API course</a> to learn more about API's.  Hope it helps.
      </p>

      <h4>Every Lesson You Share Enters Your Name In Raffle For A Chance To Win A Free Sticker!</h4>

      <p><a href="https://play.google.com/store/apps/details?id=wewillcode.com.wewillcode">Here is a link to our app on the play store(:</a></p>
    </div>
        <h3 class='indexCoursesText'>Web Developer Foundations</h3>
        <hr>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <a href="/courses/freeCodeCampReviewhtml&css"><img src="https://i.ytimg.com/vi/2_rvr8EdhCg/hqdefault.jpg"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <a href="/courses/LearnHTMLCodecademyHTMLFoundationsCourse"><img src="https://i.ytimg.com/vi/E5dQ0nqZ1oI/hqdefault.jpg"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <a href="/courses/BasicJavascriptonfreeCodeCamp"><img src="https://i.ytimg.com/vi/HPV9CMwP-YI/hqdefault.jpg"></a>
          </div>
        </div>
      </div>
      <h3 class='indexCoursesText'>Programming Concepts & Challenges</h3>
      <div class="row">
          <hr>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <a href="/courses/Codewars"><img src="https://i.ytimg.com/vi/I0yC5lvfNno/hqdefault.jpg"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <a href="/courses/HowToUseAPIswithJavaScript"><img src="https://i.ytimg.com/vi/5LzYD-xGBcI/hqdefault.jpg"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <a href="courses/LearnResponsiveDesignCodecademyWebDevTutorials"><img src="https://i.ytimg.com/vi/VoAfSMihz2M/hqdefault.jpg"></a>
          </div>
        </div>
    </div>

 </div>
</section>





<% include partials/indexFooter %>
