<% include partials/header %>
<div class="container">
  <h1>Sections</h1>
        <% playlists.items.forEach(function(item){  %>
          <% if(item.snippet.title !='Study Beats, Programming Instrumentals') { %>
          <div class='playlistDiv'%>
            <h2 class='titleText'> <%= item.snippet.title %> </h2>
            <img src= '<%= item.snippet.thumbnails.default.url %>' width='15%' height='15%' class='img-responsive center' >
            <p class='descriptionText'> <%= item.snippet.description %>
          </div>
        <% } %>
        <% }); %>

    </div>

<% include partials/footer %>
