<% include partials/header %>


  <div class="container">

  <div class="jumbotron">
    <h1><i class="fa fa-shopping-cart fa-4x"></i> Sticker Shop </h1>
    <p>A bunch of awesome stickers for awesome people!</p>
    <p>Buy 1 for $2.50, get 1 mystery sticker free.</p>
  </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/super-mario-punching-thumbnail.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/spiderman-thumbnail.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/ananomyx-head.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/captain-america-half-face-square.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/panda-head.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/homer-superman-flying.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/popeye-on-acid.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/ant-man-head.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/half-spiderman-half-deadpool-head.png">
      </div>
    </div>
  </div>

  <% include partials/footer %>
