<% include partials/header %>


  <div class="container">

  <div class="jumbotron">
    <h1><i class="fa fa-shopping-cart fa-4x"></i> Sticker Shop </h1>
    <p>A bunch of awesome stickers for awesome people!</p>
    <p>Buy 1 for $2.50, get 1 mystery sticker free.</p>
    <small>For A limited time share your the videos that help you the most to get entered in
    our monthly raffle to receive 2 free stickers!  <a href="mailto:weWillCode@gmail.com?subject=Stickers">Message us</a> for more information!</small>
  </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/super-mario-punching-thumbnail.png">
        </div>
          <table align="center">
            <tbody>
              <tr>
                <td>
                  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="THFQCZ45FXRS4">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/spiderman-thumbnail.png">
        </div>
        <table align="center">
         <tbody>
           <tr>
             <td>
               <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
               <input type="hidden" name="cmd" value="_s-xclick">
               <input type="hidden" name="hosted_button_id" value="9CFV45TAG5KE8">
               <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
               <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
               </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/ananomyx-head.png">
        </div>
        <table align="center">
         <tbody>
           <tr>
              <td>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="RH4LSLNYHL3KU">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/captain-america-half-face-square.png">
        </div>
        <table align="center">
         <tbody>
           <tr>
              <td>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="9A6KFG67SU2C4">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/panda-head.png">
        </div>
        <table align="center">
         <tbody>
           <tr>
              <td>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="ZNDBZ33F3QNL4">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/homer-superman-flying.png">
        </div>
        <table align="center">
         <tbody>
           <tr>
              <td>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="BMCUAQL979P2Q">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/popeye-on-acid.png">
        </div>
        <table align="center">
         <tbody>
           <tr>
              <td>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="DJMCZ8RRQ7282">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/ant-man-head.png">
        </div>
        <table align="center">
         <tbody>
           <tr>
              <td>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="UHVGEPLYV3U6N">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/images/half-spiderman-half-deadpool-head.png">
      </div>
      <table align="center">
       <tbody>
         <tr>
            <td>
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ZHC7FU7F2546L">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <% include partials/footer %>
