* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 800;
  font-family: 'HelveticaNeue';
  background-color: black;
  color:#7647a2;

}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: -5% 0%;
  max-width: none;
  background-color: #373B44;
  height: 10vh;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Black_Hole_in_the_universe.jpg/1024px-Black_Hole_in_the_universe.jpg');
  background-size: cover;
}

.intro {
  height: 100vh;
  text-align: center;
  font-size: 2.5rem;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
  color: lime;
  font-family: roboto;
}

h6 {
  color: #ff69b4;
}


p {
  font-size: 2.5em;
  font-weight: 500;
  color:white;
}

a {
  font-weight: 700;
  position: relative;
}

.anchorHot {
  color: #ff69b4;
}


.playlistDiv {
  font-size: 3.1rem;
  padding: 1.5% 1.5%;
  width:100%;
  height:auto;
  /*border: dashed 1.1px red;*/
}

.descriptionText {
  font-size: 2rem;
}

.videoTitle {
  font-size: 1.75rem;
  color: yellow;
}
img {
  display: inline;
  padding: 1%;
  margin: 0;
}

li {
  font-size: 1.85em;
}

.container {
  width: 98%;
}
